*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: rgb(0, 0, 0, .5);
	background-repeat: no-repeat;
	animation: ;
	animation-delay: 3s;
}

.square{
	width: 120px;
	height: 120px;
	background: #f5576c;
	position: relative;
	transform: rotate(-45deg);
	animation: spin 5s linear infinite;
}

@keyframes spin {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

